<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.qiniu.pili.droid.shortvideo.demo">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FLASHLIGHT" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name=".tusdk.TuApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".shoot.HomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".shoot.MainActivity"
      android:screenOrientation="portrait" />
    <activity android:name=".shoot.VideoRecordActivity" />
    <activity
      android:name=".shoot.AudioRecordActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".shoot.VideoTrimActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".shoot.VideoEditActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".shoot.VideoTranscodeActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.PlaybackActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".shoot.MakeGIFActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.ScreenRecordActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.ShowGIFActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.VideoComposeActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.ImageComposeActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.ArRecordActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppThemeFullscreen" />
    <activity
      android:name=".shoot.DraftBoxActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".shoot.VideoDubActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme" />
    <activity android:name=".shoot.WebViewActivity" />


    <activity
      android:name=".play.PLMediaPlayerActivity"
      android:theme="@style/AppThemeFullscreen" />
    <activity android:name=".play.PLAudioPlayerActivity" />
    <activity
      android:name=".play.PLVideoViewActivity"
      android:theme="@style/AppThemeFullscreen" />
    <activity
      android:name=".play.PLVideoTextureActivity"
      android:theme="@style/AppThemeFullscreen" />
    <activity android:name=".play.PLVideoListActivity"/>

  </application>

</manifest>